.dealerPanel{
    width: 410px;
    padding: 5px;
}

.dealerName{
    font-size: xx-large;
    background-color: #3e4451;
}

.dealerImage{
    width: 400px;
    height: 800px;
    object-fit: cover;
}

.dealerInfo{
    width: 400px;
}