.dealerButton{
    padding: 5px;
    height: 205px;
    margin: 5px;
    background-color: #040A17;
    border: 2px solid #414A5E;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer;
}