.deck{
    box-shadow: 
        1px 1px #eee,
        2px 2px #888,
        3px 3px #eee,
        4px 4px #666,
        5px 5px #eee,
        6px 6px #444,
        7px 7px #eee,
        8px 8px #222,
        9px 9px #eee,
        10px 10px #000;
}

.deckPanel{ 
    padding: 5px;
    position: absolute;
}