.mainGallery{
    width: 1140px;
    height: 920px;
    background-color: #7B8292;
    color: white;
    font-size: large;
    display: inline-flex;
}

.galleryCard{
    object-fit: contain;
    height: 252px;
    width: 180px;
}

.galleryPopupFader{
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    place-content: center;
}

.galleryPopup{
    height:920px;
    background-color: #414A5E;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    justify-items: center;
}

.popupImageHolder{
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.galleryImage{
    height: 840px;
    object-fit: contain;
    object-position: top left;
    border: solid #171F30 4px;
    border-radius: 15px;
}

.galleryHeader{
    font-size: xxx-large;
}

.gallerySubHeader{
    font-size: xx-large;
}

.galleryInfo
{
    height: 920px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;

}
.gallerySection{
    margin-top: 15px;
}
.galleryText
{
    font-size: x-large;
    text-align: left;
}

.galleryControls
{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 480px;
}

.imageSelector{
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-gap: 5px;
    border-top: 2px solid #414A5E;
    padding-top: 10px;
    height: 550px;
}