
.instructions{
    font-size: large;
}

.gameTitle{
    font-size: xxx-large;
}

.cardDisplay{
    margin-top: 15px;
}

.standings{
    margin-left: 450px;
    margin-top: 75px;
    width: 300px;
    position: absolute;
    text-align: left;
}

